name: API CI
#on: [push]
on:
  push:
    paths:
      - "./api/**"
      - ".github/workflows/api-ci.yml"

defaults:
  run:
    working-directory: ./api

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: "yarn"
          cache-dependency-path: ./api/yarn.lock
      - name: install dependencies
        shell: bash
        run: yarn ci
      - name: run unit test
        shell: bash
        run: yarn test
